{% extends "base.html" %}
{% load i18n %}
{% block extra_head %}
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <script src="{{ STATIC_URL }}js/app/controllers/app-controller.js"></script>
    
    
    <script src="{{ STATIC_URL }}js/app/controllers/panel-controller.js"></script>
    <script src="{{ STATIC_URL }}js/app/services/app-service.js"></script>
    
    <script src="{{ STATIC_URL }}js/app/services/student-service.js"></script>
  
{% endblock %}
{% block content %}
    <div class="padded-content">
        <div id="main-content" class="container">
           
                <ng-view view-state></ng-view>
        </div>
    </div>
{% endblock %}
{% block extra_content %}
<script type="text/javascript"></script>
{% endblock %}
